@model Entities.Concrete.Customer
<div class="card">
    <div class="card-header">
        Müşteri Detay
    </div>
    <div class="card-body">
        <strong>Müşteri Ünvanı:</strong><p>@Model.CustomerName</p>
        <strong>Müşteri Adres:</strong><p>@Model.CustomerAddress</p>
        <strong>Müşteri Vergi Numarası:</strong><p>@Model.CustomerTaxNumber</p>
        <strong>Müşteri Vergi Dairesi:</strong><p>@Model.CustomerTaxOffice</p>
        <strong>Müşteri Mail Adresi:</strong><p>@Model.CustomerMail</p>
        <strong>Müşteri Telefon:</strong><p>@Model.CustomerPhone</p>

    </div>
    <div class="card-footer">
        <div class="row">
            <div class="float-right">
                <a id="update-btn" asp-controller="customer" asp-action="update" asp-route-id="@Model.id" class="btn btn-warning"><i class="fas fa-redo"></i> Güncelle</a>
                <a id="delete-btn" asp-controller="customer" asp-action="delete" asp-route-id="@Model.id" class="btn btn-danger"><i class="fas fa-trash"></i> Sil</a>
            </div>
        </div>
    </div>
</div>
