@model Entities.DTOs.OrderDetailDto
<div class="card">
    <div class="card-header">
        <h3 class="card-title">İş Emri Listesi</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th colspan="12">@Model.CustomerName | @Model.BrandName | @Model.Model</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                <tr>
                    <td class="col-md-3">Deneme</td>
                    <td class="col-md-3">Deneme</td>
                    <td class="col-md-3">Deneme</td>
                    <td class="col-md-3">Deneme</td>
                </tr>

            </tbody>
            <tfoot class="table-dark">
                <tr>
                    <th colspan="12">@Model.CustomerName | @Model.BrandName | @Model.Model</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>

<a asp-controller="order" asp-action="add" id="add-btn" class="btn btn-success "><i class="fas fa-plus"></i></a>