@model List<Entities.DTOs.OrderListDto>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">İş Emri Listesi</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Durum</th>
                    <th>Müşteri</th>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Renk</th>
                    <th>Sipariş Adet</th>
                    <th>Termin Tarihi:</th>
                    <th>Detay</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                @{
                    int i = 1;
                    foreach (var item in Model)
                    {
                        if (item.OrderStatus)
                        {
                            <tr class="text-center">

                                <td style="width: 50px;">@i</td>
                                @if (item.OrderStatus)
                                {
                                    <td style="width: 30px;">
                                        <span class="status-true">●</span>
                                    </td>
                                }
                                else{
                                     <td style="width: 30px;">
                                        <span class="status-false">●</span>
                                    </td>
                                }
                                <td>@item.CustomerName</td>
                                <td>@item.BrandName</td>
                                <td>@item.OrderModel</td>
                                <td>@item.OrderColor</td>
                                <td>@item.OrderQTY</td>
                                <td>@item.OrderDeadline</td>
                                <td style="width: 50px;"><a asp-controller="order" asp-action="detail"
                            asp-route-id="@item.OrderId"><i class="fas fa-chevron-right"></i></a></td>
                            </tr>
                        }

                        i++;
                    }
                }

            </tbody>
            <tfoot class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Durum</th>
                    <th>Müşteri</th>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Renk</th>
                    <th>Sipariş Adet</th>
                    <th>Termin Tarihi:</th>
                    <th>Detay</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>

<a asp-controller="order" asp-action="add" id="add-btn" class="btn btn-success "><i class="fas fa-plus"></i></a>